@model LapShop.Models.Model

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Admin/Shared/_AdminTemplate.cshtml";
}
<h1 class="m-4"> Models </h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="index.html">Models</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModelName" class="control-label"></label>
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeriesID" class="control-label"></label>
                <select asp-for="SeriesID" class ="form-control" asp-items="ViewBag.SeriesID"></select>
            </div>
            <div class="form-group">
                <label asp-for="BasePrice" class="control-label"></label>
                <input asp-for="BasePrice" class="form-control" />
                <span asp-validation-for="BasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
